.root {
  height: 10vw;
  max-height: 80px;
  background-color: rgb(0, 0, 0, 0.5) !important;
  z-index: 1;
}

.toolbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navContainer {
  display: flex;
  align-items: center;

  & > div {
    border-right: 1px #fff solid;
    padding: 0 15px 0 15px;
  }
  & > div:last-child {
    border-right: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;

  & > p:hover {
    border-bottom: 1px #fff solid;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchBlock {
  display: flex;
  align-items: center;
}
